body {
    --shadow-color: #ffffff; 
    --shadow-blur: 20px; 
    --shadow-spread: -5px; 
    --tint-color: 255,255,255; 
    --tint-opacity: 0.04;
    --frost-blur: 2px; 
}

:root {
            /* Inner shadow */
            --shadow-offset: 0;
            --shadow-blur: 20px;
            --shadow-spread: -5px;
            --shadow-color: rgba(255, 255, 255, 0.7);

            /* Painted glass */
            --tint-color: 255, 255, 255;
            --tint-opacity: 0.4;

            /* Background frost */
            --frost-blur: 2px;

            /* SVG noise/distortion */
            --noise-frequency: 0.008;
            --distortion-strength: 77;

            /* Outer shadow blur */
            --outer-shadow-blur: 24px;
        }



 

        .glass {
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

        .glass::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 0;
            border-radius: inherit;
            box-shadow:
                inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
            background-color: rgba(var(--tint-color), var(--tint-opacity));
            pointer-events: none;
        }

        .glass::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: inherit;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
            pointer-events: none;
        }

        .inGlass {
            background: none; 
            border: none; 
            width: 100%; 
            height: 100%; 
            border-radius: inherit;
        }



        